.container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}
.column {
  flex: 1;
  min-width: 250px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newButton {
  background-color: var(--button-bg);
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1.5rem;
  transition: background-color 0.3s;
}

.newButton:hover {
  background-color: var(--button-hover);
}
